body{
  background-image: url("/images/mountains-universe02.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}